<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BasculaConfig.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BasculaConfig.My.MySettings>
            <setting name="Continuo_PuertoCOM" serializeAs="String">
                <value />
            </setting>
            <setting name="Continuo_StringInicio" serializeAs="String">
                <value />
            </setting>
            <setting name="Continuo_StringRecorrer" serializeAs="String">
                <value />
            </setting>
            <setting name="Continuo_Ruta" serializeAs="String">
                <value />
            </setting>
            <setting name="Demanda_PuertoCOM" serializeAs="String">
                <value />
            </setting>
            <setting name="Demanda_StringInicio" serializeAs="String">
                <value />
            </setting>
            <setting name="Demanda_StringRecorrer" serializeAs="String">
                <value />
            </setting>
            <setting name="Demanda_Ruta" serializeAs="String">
                <value />
            </setting>
            <setting name="Demanda_Caracter" serializeAs="String">
                <value />
            </setting>
            <setting name="Modo" serializeAs="String">
                <value />
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value />
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value />
            </setting>
            <setting name="Parity" serializeAs="String">
                <value />
            </setting>
            <setting name="HandShake" serializeAs="String">
                <value />
            </setting>
        </BasculaConfig.My.MySettings>
    </userSettings>
</configuration>